<div class="container">
  <app-title-bar title="My Bookcase"></app-title-bar>
  <div class="bookcase-book-container">
    <app-tabs (tabChangeEmitter)="onTabChange($event)">
      <app-tab title="Finished">
        @if (finishedBooks$ | async; as books) {
          @for (book of books; track book.id) {
            <app-bookcase-card [bookcaseResponse]="book" type="finished" (updateResolveEmitter)="onUpdate($event, finished)"></app-bookcase-card>
          }
        }
        <mat-paginator #paginator
          class="paginator"
          (page)="handlePageEvent($event, finished)"
          [length]="paginations[finished].totalElements"
          [pageSize]="paginations[finished].pageSize"
          [pageSizeOptions]="paginations[finished].pageSizeOptions"
          [pageIndex]="paginations[finished].pageIndex">
        </mat-paginator>
      </app-tab>
      <app-tab title="Reading">
        @if (readingBooks$ | async; as books) {
          @for (book of books; track book.id) {
            <app-bookcase-card [bookcaseResponse]="book" type="reading" (updateResolveEmitter)="onUpdate($event, reading)"></app-bookcase-card>
          }
        }
        <mat-paginator #paginator
          class="paginator"
          (page)="handlePageEvent($event, reading)"
          [length]="paginations[reading].totalElements"
          [pageSize]="paginations[reading].pageSize"
          [pageSizeOptions]="paginations[reading].pageSizeOptions"
          [pageIndex]="paginations[reading].pageIndex">
        </mat-paginator>
      </app-tab>
      <app-tab title="To Read">
        @if (toReadBooks$ | async; as books) {
          @for (book of books; track book.id) {
            <app-bookcase-card [bookcaseResponse]="book" type="to-read" (updateResolveEmitter)="onUpdate($event, toRead)"></app-bookcase-card>
          }
        }
        <mat-paginator #paginator
          class="paginator"
          (page)="handlePageEvent($event, toRead)"
          [length]="paginations[toRead].totalElements"
          [pageSize]="paginations[toRead].pageSize"
          [pageSizeOptions]="paginations[toRead].pageSizeOptions"
          [pageIndex]="paginations[toRead].pageIndex">
        </mat-paginator>
      </app-tab>
    </app-tabs>
  </div>
</div>
