<div class="container">
    <h1>Create account</h1>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input type="mail" matInput placeholder="First name" color="accent">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input type="mail" matInput placeholder="Last name" color="accent">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="mail" matInput placeholder="Email" color="accent">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" color="accent" [type]="hidePassword ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="toogleHide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button type="button" mat-flat-button color="accent">Register</button>
        <button type="button" mat-stroked-button color="accent">Have account? Log In</button>
      </form>
</div>