@import '../../../../../styles/variables';

:host {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;

  .bookcase-card-container {
    display: flex;
    gap: 1em;
    border: 1px solid $purple-3;
    width: 100%;

    .image {
      width: 136px;
      height: 200px;

      img {
        width: 136px;
        height: 200px;
      }
    }

    .info-container{
      flex: 1;
      padding: 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .details {
        .book-title, .book-author {
          max-height: $font-size-m * 3;
          width: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
      }

        p {
          margin-bottom: 10px;
          font-style: italic;

          span {
            font-weight: bold;
          }
        }
      }

      .progress-container {
        width: 50%;

        .text-icon {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2px;

          img:hover {
            cursor: pointer;
          }
        }
      }
    }

    .actions-container {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 0 1em 1em 0;
      justify-content: space-between;

      .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: $font-size-l;

        img {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    width: 250px;

    .bookcase-card-container {
      flex-direction: column;
      width: 250px;
      height: 680px;

      .image {
        width: 248px;
        height: 375px;

        img {
          width: 248px;
          height: 375px;
        }
      }

      .info-container {
        padding: 1em;

        .progress-container {
          width: 100%;
        }
      }

      .actions-container {
        align-items: center;
        justify-content: center;
        padding: 0 0 1em 0;
        gap: 1em;

        .rating {
          width: 80%;
          justify-content: end;
        }
      }
    }
  }
}
