<div class="bookcase-card-container">
  <div class="image"></div>
  <div class="info-container">
    <div class="details">
      <p><span>Title:</span> {{ book.title }}</p>
      <p><span>Author:</span> {{ book.author }}</p>
      <p><span>Genre:</span> {{ book.genre }}</p>
      <p><span>Pages:</span> {{ book.pages }}</p>
    </div>
    <div class="progress-container">
      <div class="text-icon">
        <p>Progress:</p>
        <img src="../../../../../assets/icons/edit.svg" alt="edit-icon">
      </div>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
  <div class="actions-container">
    <div class="rating">
      <img src="../../../../../assets/icons/star.svg" alt="star-icon">
      <p>{{ avgRating }}</p>
    </div>
    <div class="action-buttons">
      <app-action-button text="Finished"></app-action-button>
      <app-action-button text="Reading"></app-action-button>
      <app-action-button text="Delete"></app-action-button>
    </div>
  </div>
</div>
