$purple-1: #070F2B;
$purple-2: #1B1A55;
$purple-3: #535C91;
$purple-4: #464e7d;

$black: #000000;
$white: #FFFFFF;

$font-size-xl: 28px;
$font-size-l: 22px;
$font-size-m: 18px;
$font-size-s: 14px;
$font-size-xs: 12px;

$header-height: 80px;