<div class="container">
  <app-title-bar title="Dashboard"></app-title-bar>
  <app-nav [items]="navItems" active="Books"></app-nav>
  <div class="actions-container">
    <div class="actions-container-search">
      <app-search-bar
        type="books"
        [authors]="(authors$ | async) || []"
        [genres]="(genres$ | async) || []"
        [sortOptions]="sortOptions"
        (searchBookEmitter)="onSearch($event)"
        (sortEmitter)="onSort($event)"
      ></app-search-bar>
    </div>
    <button type="button" mat-flat-button color="accent" [routerLink]="'manage/0'" routerLinkActivate="active">Add book</button>
  </div>

  @if (books$ | async; as books) {
    <app-table [data]="books" [columns]="displayedColumns" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-table>
  }

  <mat-paginator #paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="totalElemets"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex">
    </mat-paginator>
</div>
