<div class="container">
    <app-search-bar
      [authors]="(authors$ | async) || []"
      [genres]="(genres$ | async) || []"
      [sortOptions]="sortOptions"
      (searchEmitter)="onSearch($event)"
      (sortEmitter)="onSort($event)"
    ></app-search-bar>
    <div class="books-container" style="height: 100% !important;">
        @if (bookResponse) {
            @for (book of bookResponse.content; track book.id) {
                <app-book-card [book]="book"></app-book-card>
            }
        }
    </div>
    <mat-paginator #paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex">
    </mat-paginator>
</div>
