<div class="container">
    <app-search-bar
      type="books"
      [authors]="(authors$ | async) || []"
      [genres]="(genres$ | async) || []"
      [sortOptions]="sortOptions"
      (searchBookEmitter)="onSearch($event)"
      (sortEmitter)="onSort($event)"
    ></app-search-bar>
    @if (books$ | async; as books) {
        @if (books.length === 0) {
            <div class="empty-books">
                <img src="../../../../../assets/images/no-books.jpeg" alt="no-books" />
                <p>No books found. Try to change filters.</p>
            </div>
        }
        @else {
            <div class="books-container" style="height: 100% !important;">
                @for (book of books; track book.id) {
                    <app-book-card [routerLink]="['details', book.id]" routerLinkActivate="active" [book]="book"></app-book-card>
                }
            </div>
        }
    }
    <mat-paginator #paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="pagination.totalElements"
        [pageSize]="pagination.pageSize"
        [pageSizeOptions]="pagination.pageSizeOptions"
        [pageIndex]="pagination.pageIndex">
    </mat-paginator>
</div>
