@import "../../../../styles/_variables.scss";

:host {
    position: relative;
    z-index: 10;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1em;
        background-color: $purple-1;
        height: $header-height;

        .profile-menu {
            position: absolute;
            top: calc($header-height - 1em);
            right: 10px;
            background-color: $purple-1;
            border: 1px solid $purple-3;
            text-align: center;

            p {
              width: 100%;
              padding: 1em;
            }

            p:last-child:hover {
              background-color: $purple-2;
              cursor: pointer;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }


        ul {
            display: flex;
            gap: 2em;
            list-style: none;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size-l;
                cursor: pointer;
            }

            .profile-logout {
                display: none;
            }
        }

        .menu-icon {
            display: none;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1280px) {


}

@media screen and (max-width: 768px) {
    :host {
        header {
            ul {
                position: absolute;
                top: $header-height;
                right: 0;
                width: 100%;
                flex-direction: column;
                background-color: $purple-1;
                gap: 0;
                transition: .4s ease;

                li {
                    padding: 1em 0;
                }

                li:hover {
                    background-color: $purple-2;
                }

                .profile-icon {
                    display: none;
                }

                .profile-logout {
                  display: flex;
              }
            }

            .menu-icon {
                display: flex;
                margin-left: auto;
            }

        }

        .hide {
            display: none !important;
        }
    }
}
