<header>
    <div class="logo">
        <img routerLink="/" (click)="closeMenu()" src="../../../../assets/images/logo-white.svg" alt="logo" />
    </div>
    <div class="menu-icon">
        @if (isOpen) {
            <img (click)="toggleMenu()" src="../../../../assets/icons/close.svg" alt="menu-icon" />
        } @else {
            <img (click)="toggleMenu()" src="../../../../assets/icons/menu.svg" alt="menu-icon" />
        }
    </div>
    <ul class="desktop" [class.hide]="!isOpen">
        @for (item of items; track item.name) {
            <li (click)="closeMenu()" [routerLink]="item.path" routerLinkActivate="active">
                {{ item.name }}
            </li>
        }
        @if (isLogged) {
            <li (click)="toggleProfileMenu()" class="profile-icon">
                <img src="../../../../assets/icons/profile.svg" alt="profile-icon">
            </li>
            <li (click)="logout()" class="profile-logout">Wyloguj</li>
        }
    </ul>
    @if (isProfileMenuOpen) {
      <div class="profile-menu" (click)="toggleProfileMenu()">
        <p>Witaj {{ (userFirstName$ | async)?.firstName }}!</p>
        <p (click)="logout()">Wyloguj</p>
      </div>
    }
</header>
