<div class="comment-container">
    <div class="details">
        <div class="user">
          <img src="../../../../../assets/icons/profile-purple.svg" alt="profile-icon">
          <p>{{ comment.userFirstname }} | <span class="date">{{ comment.createdAt | date: 'short' }}</span></p>
        </div>
        @if (userComment) {
          <div class="buttons">
            <button mat-icon-button color="accent" (click)="onEdit()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="onDelete()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
    </div>
    <div class="content">{{ comment.content }}</div>
</div>
