@import '../../../../styles/variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  .filter-button {
    background: none;
    border: none;

    &:hover{
        cursor: pointer;
    }

    .active {
        background-color: $purple-1 !important;
    }
  }
}
