@import '../../../../../styles/variables';

:host {
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    background: $white;
    border: 1px solid $purple-3;
    color: $purple-2;
    border-radius: 5px;
    padding: 0.5em;

    img {
      width: 36px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {

    button {
      width: 70px;

      p {
        display: none;
      }
    }
  }
}
