@import '../../../../styles/variables';

:host {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4em;
        padding: 2em;

        h1 {
            color: $purple-2;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 1em;
            
            mat-form-field, button {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    :host {
        .container {
            form {
                mat-form-field, button {
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    :host {
        .container {
            form {
                mat-form-field, button {
                    width: 90%;
                }
            }
        }
    }
}