@import '../../../../../styles/variables';

:host {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 2em 0;
        gap: 2em;

        .book-details-container {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3em;

            img {
                width: 335px;
                height: 500px;
            }

            .info {
                height: 500px;
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: space-between;
                padding: 1em 0 0 0;

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    .community {
                        p:nth-child(2) {
                            font-size: $font-size-s;
                            font-style: italic;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }

        .description-container {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .community-container {
            width: 80%;
            display: flex;

            .rating-container {
                width: 40%;

                .ratings {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 1em 0 0 1em;
                    gap: 0.5em;

                    .rating {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            .comments-container {
                width: 60%;

                .info {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  p {
                    font-size: $font-size-xs;
                    font-style: italic;
                  }
                }

                .comments {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    align-items: center;
                    padding: 1em 0 0 1em;

                    .empty-comments {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    h2 {
        font-size: $font-size-l;
    }
}

@media screen and (max-width: 768px) {
    :host {
        .container {
            .book-details-container {
                flex-direction: column;

                .info {
                    gap: 2em;
                }
            }

            .community-container {
                flex-direction: column;
                gap: 2em;

                .rating-container {
                    width: 100%;

                    .ratings {
                        display: flex;
                        justify-content: center;
                    }
                }

                .comments-container {
                    width: 100%;
                }
            }
        }
    }
}
