@import '../../../../../styles/variables';

:host {
    .book-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid $purple-3;
        width: 250px;
        position: relative;

        .rating-badge {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            background-color: $purple-1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            padding: 0.5em;
            position: absolute;
            top: -15px;
            right: -15px;
        }

        .book-details {
            .book-image {
                width: 248px;
                height: 375px;

                img {
                    width: 248px;
                    height: 375px;
                }
            }

            .book-title, .book-author {
                font-size: $font-size-m;
                height: $font-size-m * 3;
                width: 100%;
                text-align: center;
                margin: auto;
                padding: 10px;
                font-style: italic;
                display: -webkit-box;
                -webkit-box-orient: vertical; 
                -webkit-line-clamp: 2; 
                overflow: hidden; 
                text-overflow: ellipsis; 
            }

            .book-author {
                font-size: $font-size-s;
                height: $font-size-s * 3;
            }
        }
    }
}